@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio] {
    margin-right: 5px;
}

.radio-group {
    margin: 10px 0;
}

.button {
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #45a049;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px; 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 280px; 
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%; 
    
    margin-left: -100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


@media screen and (max-width: 768px) {
    .container, .form-container {
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }

    .button {
        width: 100%;
    }
}

.accessible-icon {
    font-size: 24px; 
}
.fa-info-circle:before {
    content: "\f05a"; 
}
